<header ng-switch on="$location.path().indexOf('/Alunos/new') > -1">
    <h3 ng-switch-when="true">Create a new Aluno</h3>
    <h3 ng-switch-when="false">View or edit Aluno</h3>
</header>
<form id="AlunoForm" name="AlunoForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': AlunoForm.nome.$invalid}">
        <label for="nome" class="col-sm-2 control-label">Nome</label>
        <div id="nomeControls" class="col-sm-10">
            <input id="nome" name="nome" type="text" class="form-control" ng-model="aluno.nome" placeholder="Enter the Aluno Nome"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AlunoForm.sobrenome.$invalid}">
        <label for="sobrenome" class="col-sm-2 control-label">Sobrenome</label>
        <div id="sobrenomeControls" class="col-sm-10">
            <input id="sobrenome" name="sobrenome" type="text" class="form-control" ng-model="aluno.sobrenome" placeholder="Enter the Aluno Sobrenome"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': AlunoForm.ra.$invalid}">
        <label for="ra" class="col-sm-2 control-label">Ra</label>
        <div id="raControls" class="col-sm-10">
            <input id="ra" name="ra" type="text" class="form-control" ng-model="aluno.ra" placeholder="Enter the Aluno Ra"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveAluno" name="saveAluno" class="btn btn-primary" ng-disabled="isClean() || AlunoForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteAluno" name="deleteAluno" class="btn btn-danger" ng-show="aluno.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>